@import "base";
$text-size: 24px;
$line-height: 36px;
$text-placement: center;
.About-View-Wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  &__top-text{
    width: fit-content;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: $standard-grey-boarder;
  }
  &__top-heading{
    color: $heading-color;
    font-size: 32px;
    line-height: 38px;
    margin: 1rem 0;
  }
  &__title{
    color: $sub-heading-color;
    font-size: $text-size;
    line-height: $line-height;
    margin: .5rem 0;
  }
  &__top-flow-text{
    font-size: $text-size;
    line-height: $line-height;
    text-align: $text-placement;
  }
}
.CV-Wrapper{
  width: fit-content;
  max-width: 700px;
  margin-top: 24px;
  &__personal{
    border: $standard-grey-boarder;
    & p{
      border: $standard-grey-boarder;
      font-size: $text-size;
      line-height: $line-height;
      text-align: $text-placement;
    }
  }
}
.CV-Wrapper__education:hover{
  .Experience-Entry-Wrapper{
    opacity: .5;

  }
  .Experience-Entry-Wrapper:hover{
    background: lighten($primary-color, 5%);
    box-shadow: 0 0 0 2px lighten($primary-color, 10%);
    opacity: 1;
  }
}
