@import "base";
$text-size: 24px;
$line-height: 36px;
$text-placement: left;

.About-View-Wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  &__top-text{
    width: fit-content;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__top-heading{
    color: $heading-color;
    font-size: 32px;
    line-height: 38px;
    margin: 1rem 0;
  }
  &__title{
    color: $sub-heading-color;
    font-size: $text-size;
    line-height: $line-height;
    margin: .5rem 0;
  }
  &__top-flow-text{
    font-size: $text-size;
    line-height: $line-height;
    text-align: left;
  }
}

.CV-Wrapper{
  width: fit-content;
  max-width: 700px;
  margin-top: 24px;
  &__personal{
    margin-bottom: 48px;
    & p{
      font-size: $text-size;
      line-height: $line-height;
      text-align: left;
    }
  }
  &__experience{
    margin-bottom: 3rem;
    &:hover{
      .Experience-Entry-Wrapper{
        opacity: .5;
        &:hover{
          background: lighten($primary-color, 5%);
          box-shadow: 0 0 0 2px lighten($primary-color, 10%);
          opacity: 1;
          .Experience-Entry-Wrapper__body-heading{
            color: #5EEAD4FF !important;
          }
        }
      }
    }
  }
}
