//COLORS
$main-color:red;
$primary-color:rgb(15 23 42);
$call-to-action-color:rgb(94 234 212);
$text-color:rgb(148 163 184);
//BOARDERS
$standard-grey-boarder: 1px solid $text-color;
//MEDIA QUERIES
$mobile:1024px;



a{
  text-decoration: none;
}
#app {
  //box-sizing: border-box;
}

html{
  color: $text-color;
}
header{
  min-height: 60px;
  z-index: 10;
}
body{
  background: $primary-color;
  max-width: 1600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

