//COLORS
$main-color:red;
$primary-color:rgb(15 23 42);
$call-to-action-color:rgb(94 234 212);
$text-color:rgb(148 163 184);
//BOARDERS
$standard-grey-boarder: 1px solid $text-color;
//MEDIA QUERIES
$mobile:1024px;



a{
  text-decoration: none;
}
#app {
  //box-sizing: border-box;
  height: 100%;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: fit-content(500px) auto auto;
  //flex-direction: column;
  //align-content: start;
}

html{
  color: $text-color;
  overflow: auto;
  height: fit-content;
}
header{
  height: fit-content(200px);
  z-index: 10;
  padding: 2px;
  align-self: start;
}
body{
  background: $primary-color;
  height: 100%;
  width: 100%;
  position: relative;

}
.Main-Content{
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  //height: 100%;
  width: 100%;
  padding: 5px;
  align-self: start;
}
.footer_div{
  margin-top: auto;
  place-self: end !important;
  width: 100%;
}

