@use "variables";
$background:transparentize(lighten(variables.$primary-color, 20%),0.6);
$border:1px solid transparentize(lighten(variables.$primary-color, 30%),.3);
.Contact-Form-Wrapper{
  margin: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  &-heading{
    align-self: center;
    margin-right: 4rem;
  }
  &__form{
    display: grid;
    flex-direction: column;
    grid-template-areas:
    "Text Text Name"
    "Text Text Email"
    "Text Text Submit";
    font-size: variables.$basic-font-size;
    line-height: variables.$basic-line-hight;
    &-name{
      grid-area: Name;
    }
    &-email{
      grid-area: Email;
    }
    &-textarea{
      grid-area: Text;
      width: 400px;
      height: 200px;
      background: $background;
      border: $border;
      margin-right: 2rem;
      font-size: variables.$basic-font-size;
      line-height: variables.$basic-line-hight;
      padding: 7px;
      border-radius:10px;
      color: variables.$call-to-action-color;
      &::placeholder{
        color: variables.$call-to-action-color;
      }
    }
    &-submit{
      grid-area: Submit;
      background: none;
      box-shadow: none;
      margin-bottom: 8px;
    }
    &-input{
      background: $background;
      margin: 10px;
      padding: 5px 10px;
      height: 2rem;
      border: $border;
      border-radius:10px;
      color: variables.$call-to-action-color;
      &::placeholder{
        color: variables.$call-to-action-color;
      }
    }
  }
}

@media (max-width: 700px) {
  .Contact-Form-Wrapper{
    margin: 5rem 0;
    flex-direction: column;
    &  *{
      padding: 10px;
      width: 95%;
      margin: 0 auto;
    }
    &-heading{
      margin: 10px 0;
    }
    &__form{
      grid-template-areas:
    "Name"
    "Email"
    "Text"
    "Submit";
      justify-items: center;
      & > *{
        position: relative;
        margin: 5px 0;

      }
    }
  }

}