@use "variables";
.Home-View{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  container-type: inline-size;
  /*TODO: THINK ABOUT CENTER OR NOT*/
  text-align: center;
  &__text-field{
    width: clamp(500px, 270px + 30cqi,750px);
    padding: 2rem 0;
    height: fit-content;
    margin-top: variables.$home-component-separation;
  }

}


.mySwiper{
  margin-top: variables.$home-component-separation;
}
.Github-Wrapper{
  margin-top: variables.$home-component-separation;
  container-type: inline-size;
  width: 100%;
  &__link{
    font-size: variables.$basic-font-size;
    color: variables.$text-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    width: fit-content;
    &-icon{
      width: 2rem;
      height: 2rem;
      padding-left: 5px;
    }
  }

  & img{
    max-width: 100cqw !important;
  }
  .Github-Wrapper__second{
    width: 495px;
  }
}
.Contact-Form-Wrapper{
  margin-top: variables.$home-component-separation;
}

@media (max-width: variables.$mobile) {
  .Home-View{
    &__text-field{
      width: 95%;
    }
  }
}