@use "variables";
.Home-View{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  container-type: inline-size;
  /*TODO: THINK ABOUT CENTER OR NOT*/
  text-align: center;
  &__text-field{
    width: clamp(500px, 270px + 30cqi,750px);
    padding: 2rem 0;
    height: fit-content;
    margin-top: variables.$home-component-separation;
  }

}


.mySwiper{
  margin-top: variables.$home-component-separation;
}
.Github-Wrapper{
  margin-top: variables.$home-component-separation;
  container-type: inline-size;
  width: 100%;

  & img{
    max-width: 100cqw;
  }
}
.Contact-Form-Wrapper{
  margin-top: variables.$home-component-separation;
}

@media (max-width: variables.$mobile) {
  .Home-View{
    &__text-field{
      width: 95%;
    }
  }
}