@use "variables";

.animated-link{
  &:hover{
    background: -webkit-linear-gradient(180deg, variables.$call-to-action-color 70%, rgba(148,163,184,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 1s ease-in-out 1 forwards;
  }
}

@keyframes textShine {
  0% {
    background-position: 0 50%;
  }
  100% {
    background-position: -100% 50%;
  }
}