@use "variables";

.Menu-bar{
  z-index: 10;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);


}
.Menu-bar-mobile{
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  height: 80px;
  border-bottom: lighten(variables.$primary-color, 10%) solid 1px;
  width: 100vw;
  background: lighten(variables.$primary-color, 5%);

  &__hover-box{
    display: flex;
    height: 51px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    padding: 10px;
    margin-top: 5px;
  }
  &__hamburger{

    //position: relative;
    //top:25px;
    &, &:before,&:after{
      transition: all .5s ease-in-out;
      width: 60px;
      height: 7px;
      border-radius: 25px;
      background: variables.$text-color;
      content: "";
    }
    &:before{
      //top: 19px;
      transform: translate(0, -15px);
      position: absolute;
    }
    &:after{
      //top: 45px;
      transform: translate(0, 15px);
      position: absolute;
    }
    &.is_open{
      transform: translateX(-20px);
      background: transparent !important;
      box-shadow: none;
    }
    &.is_open:before{
      transform: rotate(45deg) translate(15px, -15px);
    }
    &.is_open:after{
      transform: rotate(-45deg) translate(15px, 15px);
    }
    &.is_open, &.is_open:before, &.is_open:after{
      background: variables.$call-to-action-color;
    }

  }
  &__hover-box:hover &__hamburger,  &__hover-box:hover &__hamburger:before,  &__hover-box:hover &__hamburger:after{
    background: variables.$call-to-action-color;
  }

  &__side-panel{
    position: fixed;
    bottom: 0;
    height: 0;
    width: 100vw;
    background: lighten(variables.$primary-color, 10%);
    z-index: 9;
    transition: all 1s ease-in-out;

    //display: none;
    &.menu_is_open{
      height: 100%;

    }
    &.menu_is_open .mobile-text{
      transform: translateX(0) !important;
    }
    &__link-container{
      display: flex;
      flex-direction: column;
      padding-top: 100px;
      padding-right: 0;
      &__link{
        font-size: clamp(1.5rem, 3vw, 3rem);
        padding: clamp(1rem, 3vw, 2rem) clamp(1.5rem, 3vw, 3rem);
        color: variables.$call-to-action-color;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

}
.mobile-arrow{
  display: none;
  font-weight: bold;
  font-size: 3rem;
}
.mobile-text{
   transform: translateX(-10vw);
   transition: transform 1s ease-in-out !important;
 }
@media (min-width: variables.$mobile) {
  .Menu-bar__link{
    text-align: center;
    color: variables.$text-color;
    font-size: clamp(1.5rem, 3vw, 3rem);
    padding: clamp(1rem, 3vw, 2rem) clamp(3rem, 8vw, 11rem);
    border-bottom: variables.$standard-grey-boarder;
    transition: .6s all ease-in-out;
    position: relative;
    box-sizing: border-box;
    &:first-of-type{
      border-top: variables.$standard-grey-boarder;
    }
    &:hover{
      border-bottom: 1px solid variables.$call-to-action-color;
      color: variables.$call-to-action-color;
    }
    &:hover:before{
      transition: width .6s ease;
      width: 100%;
    }
    &:before{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 100%;
      background: linear-gradient(
                      to right,
                      transparent,
                      variables.$call-to-action-color 80%,
      );
    }
  }
}
@media (max-width: variables.$mobile) {
  .mobile-arrow{
    display: unset;
  }
}

