/*
$call-to-action-color:#D4A418;
$text-color:#E6EFFF;
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
a {
  text-decoration: none;
}

#app {
  height: 100%;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: fit-content(500px) auto auto;
  margin: 1rem;
}

html {
  color: rgb(148, 163, 184);
  overflow: auto;
  height: fit-content;
  font-family: "Roboto", sans-serif;
}

header {
  height: fit-content(200px);
  z-index: 10;
  padding: 2px;
  align-self: start;
}

body {
  background: rgb(15, 23, 42);
  height: 100%;
  width: 100%;
  position: relative;
}

.Main-Content {
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
  align-self: start;
}

.footer_div {
  margin-top: auto;
  place-self: end !important;
  width: 100%;
}

.Menu-bar {
  z-index: 10;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.Menu-bar__link {
  text-align: center;
  color: rgb(148, 163, 184);
  font-size: clamp(1.5rem, 3vw, 3rem);
  padding: clamp(1rem, 3vw, 2rem) clamp(3rem, 8vw, 11rem);
  border: 1px solid rgb(148, 163, 184);
  transition: 0.6s all ease-in-out;
  position: relative;
  box-sizing: border-box;
}
.Menu-bar__link:hover {
  border: 1px solid rgb(94, 234, 212);
  color: rgb(94, 234, 212);
}
.Menu-bar__link:hover:before {
  transition: width 0.6s ease;
  width: 100%;
}
.Menu-bar__link:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(to right, transparent 10%, rgb(94, 234, 212) 190%);
}

.Menu-bar-mobile {
  z-index: 10;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  height: 100px;
  width: 100vw;
}
.Menu-bar-mobile__hover-box {
  display: flex;
  height: 51px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  padding: 10px;
}
.Menu-bar-mobile__hamburger, .Menu-bar-mobile__hamburger:before, .Menu-bar-mobile__hamburger:after {
  transition: all 0.5s ease-in-out;
  width: 60px;
  height: 7px;
  border-radius: 25px;
  background: rgb(148, 163, 184);
  content: "";
}
.Menu-bar-mobile__hamburger:before {
  transform: translate(0, -15px);
  position: absolute;
}
.Menu-bar-mobile__hamburger:after {
  transform: translate(0, 15px);
  position: absolute;
}
.Menu-bar-mobile__hamburger.is_open {
  transform: translateX(-20px);
  background: transparent !important;
  box-shadow: none;
}
.Menu-bar-mobile__hamburger.is_open:before {
  transform: rotate(45deg) translate(15px, -15px);
}
.Menu-bar-mobile__hamburger.is_open:after {
  transform: rotate(-45deg) translate(15px, 15px);
}
.Menu-bar-mobile__hamburger.is_open, .Menu-bar-mobile__hamburger.is_open:before, .Menu-bar-mobile__hamburger.is_open:after {
  background: rgb(94, 234, 212);
}
.Menu-bar-mobile__hover-box:hover .Menu-bar-mobile__hamburger, .Menu-bar-mobile__hover-box:hover .Menu-bar-mobile__hamburger:before, .Menu-bar-mobile__hover-box:hover .Menu-bar-mobile__hamburger:after {
  background: rgb(94, 234, 212);
}
.Menu-bar-mobile__side-panel {
  position: fixed;
  bottom: 0;
  height: 0;
  width: 100vw;
  background: darkgray;
  z-index: 9;
  transition: all 1s ease-in-out;
}
.Menu-bar-mobile__side-panel.is_open {
  height: 100vh;
}
.Menu-bar-mobile__side-panel__link-container {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-right: 0;
}
.Menu-bar-mobile__side-panel__link-container__link {
  font-size: clamp(1.5rem, 3vw, 3rem);
  padding: clamp(1rem, 3vw, 2rem) clamp(1.5rem, 3vw, 3rem);
  color: rgb(15, 23, 42);
}
.Menu-bar-mobile__side-panel__link-container__link:hover {
  color: #1c2c50;
}

@media (max-width: 1024px) {
  .Menu-bar-mobile {
    display: unset;
  }
  .Menu-bar {
    display: none;
  }
}

/*# sourceMappingURL=MenuBar.css.map */
