@use "variables";
.Project-Preview-Wrapper{
  &__back-btn{
    position: absolute;
    cursor: pointer;
    padding: 5px;
    font-size: variables.$basic-font-size;
    color: variables.$text-color;
  }
  &__content{
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: variables.$basic-font-size;
    line-height: variables.$basic-line-hight;
    gap: 1rem;
    margin: max(10%,100px) 0 0 2rem;
    border-image:
            linear-gradient(
                            to right,
                            rgba(148,163,184,1) 30%,
                            rgba(15,23,42,1) 75%
            ) 1 0;

    padding: 20px;

    border-bottom: 1px solid;
    &-description{
      max-width: 40ch;
    }
    &-img{
      width: 100%;
      height: 100%;
      & img{
        width: 100%;
        height: 100%;
      }
    }
  }
}