@use "variables";
.Project-Preview-Wrapper{
  margin-top: 1rem;
  &__back-btn{
    position: absolute;
    cursor: pointer;
    padding: 5px;
    font-size: variables.$basic-font-size;
    color: variables.$text-color;
  }
  &__content{
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: variables.$basic-font-size;
    line-height: variables.$basic-line-hight;
    gap: 1rem;
    margin: max(10%,100px) 0 0 2rem;


    padding: 20px;
    &-border{
      width: 100%;
      border-image:
              linear-gradient(
                              to right,
                              rgba(148,163,184,1) 30%,
                              rgba(15,23,42,1) 75%
              ) 1 0;
      border-bottom: 1px solid;
    }

    &-name{
      color: variables.$heading-color;
      line-height: 58px;
    }
    &-date{
      color: variables.$sub-heading-color;
      
    }
    &-description{
      max-width: 40ch;
      line-height: variables.$basic-line-hight;
    }
    &-view-project-link{
      color: variables.$call-to-action-color;
    }
    &-img{
      width: 100%;
      height: 100%;
      & img{
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: variables.$tablet) {
  .Project-Preview-Wrapper__content{
    margin-left: 0;
  }
  
}

@media (max-width: 500px) {
  .Project-Preview-Wrapper__content{
    padding: 0;
  }
}