
@use "base";
.swiper-scrollbar{
  background: transparentize(rgba(94,234,212,1),0.6) !important;
  width: 60% !important;
  position: relative !important;
  margin: 2rem auto;
  overflow: hidden;

}
.swiper-scrollbar-drag{
  background: rgba(94,234,212,1) !important;
  width: 80% !important;
  background: radial-gradient(circle, rgba(94,234,212,1) 96%, rgba(0,212,255,0) 100%) !important;
  left: -4% !important;
}

.mySwiper{
  margin: 0 20rem;
  width: 80%;
  height: 440px !important;
  padding: 5rem 20rem;
  overflow: hidden;
}
.swiper_custom_slide{
  border: 1px solid white;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  & img{
    border-radius: 15px;
  }
}