
@use "base";
@use "variables";
.swiper-scrollbar{
  background: transparentize(rgba(94,234,212,1),0.6) !important;
  width: 60% !important;
  position: relative !important;
  margin: 2rem auto;
  overflow: hidden;

}
.swiper-scrollbar-drag{
  background: rgba(94,234,212,1) !important;
  width: 80% !important;
  background: radial-gradient(circle, rgba(94,234,212,1) 96%, rgba(0,212,255,0) 100%) !important;
  left: -4% !important;
}

.mySwiper{
  margin: 0 20rem;
  width: 80%;
  height: fit-content !important;
  padding: 2vh 5rem;
  overflow: hidden;
}
.swiper_custom_slide{
  /*border: 1px solid white;*/
  height: clamp(200px,calc(100px + 20vw) ,400px);
  overflow: hidden;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  & img{
    border-radius: 15px;
    width: 130%;
    height: 130%;
    position: absolute;
    left: -10%;
    top: -10%;
  }
}
.swiper-scrollbar{
  margin-top: 4rem;
}
@media (max-width:variables.$mobile) {
  .mySwiper{
    padding: 2vh 1rem;
    width: 100%;
  }
}