@import "base";
$text-size: 24px;
$line-height: 36px;
.Text-Field-Wrapper{
  word-break:normal;
  word-wrap: normal;
  &__text{
    width: 100%;
    line-height: $line-height;
    font-size: $text-size;
  }
  &__heading{
    color: lighten($text-color, 50%);
    line-height: $line-height;
    font-size: $text-size;
    font-weight: 600;
  }
}
