@import "base";
$text-size: max(24px,3.5cqi);
$line-height: max(36px,4.6cqi);
.Text-Field-Wrapper{
  word-break:normal;
  word-wrap: normal;
  container-type: inline-size;
  &__text{
    width: 100%;
    line-height: $line-height;
    font-size: $text-size;
  }
  &__heading{
    color: lighten($text-color, 50%);
    line-height: $line-height;
    font-size: $text-size;
    font-weight: 600;
  }
}
