@import "base";
$text-size: max(24px,3.5cqi);
$line-height: max(36px,4.6cqi);
.Text-Field-Wrapper{
  word-break:normal;
  word-wrap: normal;
  container-type: inline-size;
  &__text{
    width: 100%;
    line-height: $line-height;
    font-size: $text-size;
    height: fit-content;
    word-break:normal;
    word-wrap: normal;
  }
  &__heading{
    color: $heading-color;
    line-height: $line-height;
    font-size: $text-size;
    font-weight: 600;
  }
  &__link{
    cursor: pointer;
    color: $call-to-action-color;
    line-height: $line-height;
    transition: color .3s ease-in-out;
    &:hover{
      color: darken($call-to-action-color, 20%);
    }
  }
}
