//COLORS

$primary-color:rgb(15 23 42);
$call-to-action-color:rgb(94 234 212);
$text-color:rgb(148 163 184);
$heading-color:lighten($text-color, 50%);
$sub-heading-color:lighten($text-color, 20%);
/* Yellow/ivory color
$call-to-action-color:#D4A418;
$text-color:#E6EFFF;
*/
//Sizes
$basic-font-size:24px;
$basic-line-hight:36px;
$home-component-separation:5rem;
//BOARDERS
$standard-grey-boarder: 1px solid $text-color;
//MEDIA QUERIES
$mobile:1024px;
$phone:425px;
$tablet:768px;

