@use "../variables";
$vue-green:#41B883;
$vue-blue:#35495E;
.Vue-Project-View-Wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  &__back-btn{
    position: absolute;
    cursor: pointer;
    padding: 5px;
    font-size: variables.$basic-font-size;
    color: variables.$text-color;
    align-self: flex-start !important;
  }
  &__logo{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top:2.5rem;
    & > img{
      width: calc(100px + 5vw);
      max-width: 180px;
      aspect-ratio: 1/1;

    }
  }
  &__description{
    width: 100%;
    max-width: 600px;
    margin-bottom: 5rem;
    text-align: center;
  }
  &__applications{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 5rem;
    max-width: 800px;
    &-btn{
      font-size: 2rem;
      line-height: 2.75rem;
      padding: 20px;
      border: 2px solid $vue-green;
      box-shadow: 0 0 0 2px lighten($vue-green,10%);
      background: $vue-blue;
      color: $vue-green;
      transition: all .3s ease;
      &:hover{
        background-color: lighten($vue-blue,10%);
        border: 2px solid lighten($vue-green,10%);
        box-shadow: 0 0 0 2px lighten($vue-green,20%);
      }
    }
  }
  &__router-view{
    width: fit-content(100%);
  }
}

@media (width < variables.$mobile ) {
  .Vue-Project-View-Wrapper__applications{
    justify-content: center;
  }
}